{% extends 'clientwaiting.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Client</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
</head>
<body>
{% block content %}
  <div class="container">
    <div style="width: 50%; margin: auto;">
      <h1 class="text-center" style="background-color: #ADD8E6; color: black; padding: 10px;">Add Client</h1>
      <form method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
{% endblock %}
</body>
</html>