/* Reduce el tamaño de los campos de entrada */
input[type=text], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  /* Reduce el tamaño de las etiquetas */
  label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  /* Reduce el tamaño del botón de envío */
  button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  /* Reduce el tamaño del formulario */
  form {
    max-width: 500px;
    margin: auto;
  }